h1{
  color: red;
}
*{
  font-family: cursive;
}
.active {
border-width: 2px;
border-style: solid;
border-color: black;
}
body {
  background: white url(http://www.sun.org/uploads/images/Perseids_Meteor_Shower_2012.jpg)repeat top right
}
 p{
   color: blue;
 }
